Flask==3.0.0
gunicorn==20.1.0
Bootstrap-Flask==2.3.2
pandas
matplotlib
nltk
numpy
rank-bm25
requests
scikit-learn
spacy
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0.tar.gz