<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Senador</title>
    {{ bootstrap.load_css() }}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <!-- Informações Iniciais -->
        <div class="mb-4">
            <h1>{{ senador['NomeParlamentar'] }}</h1>
            <p>Partido: {{ senador['SiglaPartidoParlamentar'] }}</p>
            <p>Estado: {{ senador['UfParlamentar'] }}</p>
        </div>


        
       
        <!-- Botões -->
        <div class="mb-4">
            <a href="{{ url_for('pagina_inicial') }}" class="btn btn-primary">Voltar à Página Inicial</a>
            <a href="{{ url_for('pagina_interesses', id=senador['CodigoParlamentar']) }}" class="btn btn-success">Meus Interesses</a>
        </div>
        
                <!-- Caixa de Pesquisa -->
    <form class="form-inline mt-3 mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" id="search-input">
        <button onclick="pesquisar({{ senador['CodigoParlamentar'] }})">Pesquisar</button>

    </form>

       <!-- Resultados da Pesquisa -->
        <div id="resultados-pesquisa" class="mt-4">
            <div id="resultados-container" class="accordion">
                <!-- Cards de Resultados serão adicionados aqui -->
            </div>
        </div>

        
        <!-- Sugestões de Matérias Prioritárias em Cards (4 colunas) -->
        <h2 class="mb-3">Sugestões de Matérias para o Senador {{ senador['NomeParlamentar'] }}</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for sugestao in sugestoes %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                             <a href="{{ url_for('pagina_detalhes_materias', id=senador['CodigoParlamentar'], codigo_materia = sugestao['CodigoMateria']) }}" class="btn btn-primary">
                                 <h5 class="card-title">{{ sugestao['Identificacao'] }}</h5></a>
                            <!-- Truncate a Ementa para, por exemplo, 100 caracteres -->
                            <p class="card-text">{{ sugestao['Ementa'][:200] }}{{ '...' if sugestao['Ementa']|length > 200 else '' }}</p>
                            {% if sugestao['justificativa_prioridade'] is not none %}
                            <div class="p-1 mb-2 bg-info text-white"><strong>Oportunidade: </strong>{{ sugestao['justificativa_prioridade'] }}</div>
                              {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        
    </div>
    {{ bootstrap.load_js() }}
</body>
</html>
